/*

* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --cor-1: #D9D9D9;
  --cor-2: #593232;
  --cor-3: #BF7463;
  --cor-4: #F2AA6B;
  --cor-5: #F2DDB6;
}

body {
  background: var(--cor-1);
  display: flex;
}


header {
  color: var(--cor-2);
  font-size: 2rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border: 4rem;
}

@media (max-width: 768px) {
  body, header, section {
    flex-direction: column;
  }
}

header div {
  height: 20rem;
  align-items: center;
  padding: 4rem;
  border: 4rem;  
}

header div img {
  height: 20rem;
  border-radius: 50%;
}

section {
  color: var(--cor-2);
  font-size: 2rem;
}

*/

body {
  background-color: rgb(17 24 39);
  /* margin-top: 36px;
  margin-bottom: 36px; */
}